# .ignore file
*.str
*.log
*.jou
vvd_final1_prj/
SN/
PseudoNum/
ecc_gen_key/

sha256/hls_sha256/
sha256/solution1/
sha256/vvd_new_sha256/
sha256/*.str
sha256/*.log
sha256/*.jou

ecdsa_sign/vvd_ecdsa_sign_prj/
ecdsa_sign/hostprogram/
ecdsa_sign/hls_ecdsa_sign_prj/
ecdsa_sign/*.str
ecdsa_sign/*.log
ecdsa_sign/*.jou


ecdsa_verify/vvd_ecdsa_verify_prj/
ecdsa_verify/hostprogram/
ecdsa_verify/hls_ecdsa_verify_prj/
ecdsa_verify/*.str
ecdsa_verify/*.log
ecdsa_verify/*.jou


ecc_enc/vvd_ecc_enc_prj/
ecc_enc/hostprogram/
ecc_enc/hls_final_prj/
ecc_enc/*.str
ecc_enc/*.log
ecc_enc/*.jou

ecc_dec/vvd_ecc_dec_prj/
ecc_dec/hostprogram/
ecc_dec/hls_final_prj/
ecc_dec/*.str
ecc_dec/*.log
ecc_dec/*.jou


aes/vvd_aes_prj
aes/hostprogram
aes/hls_aes_prj
aes/*.str
aes/*.log
aes/*.jou